* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, 
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/fundo_banner.jpg');
    background-position: center;
    background-size: cover;
    height:670px;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.banner_headline h1{
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2{
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc p {
    font-size:  12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}

.banner_hours {
    display: flex;
    justify-content: space-between;
    font-size:  13px;
    margin: 15px 0px;
}

hr {
    border-style: none;
    background-color: #0079c7;
    height: 2px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
     font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
}

.squares li {
    width: 150px;
    height: 150px;
    background-color: #39aae1;
    list-style: none;
    margin: 15px 0px;
} 

.text {
    text-align: justify;
    word-spacing: 1px;
    font-size:  12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hr_aside {
    border-style: none;
    background-color: rgba(198, 198, 206, 0.815);
    height: 2px;   
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    background-color: rgb(238, 230, 230);
    display: inline-flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.icons p {
    display: inline-block;
    font-size:  12px;
    margin-left: 20px;
}

.flex {
    display: flex; 
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news_data {
    display: flex;
}

article .news_posted_at {
    background-color: #2b4c99;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments {
    background-color: #39aae1;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

article .news_resume {
    color: #5C5C5C;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #FFFFFF;
    text-align: justify;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFFFFF;
}

.footer_area {
    display: flex;
    color: #FFFFFF;
}

.footer_areaItem {
    flex: 1;
    color: #FFFFFF;
    padding-right: 20px;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_title_text {
    color: #FFFFFF;
}

.footer_copy {
    border-top: 1px solid #2C2C2C;
    height: 40px;
    line-height: 40px;
    color: #5C5C5C;
    font-size: 12px;
    margin-top: 30px;
}

.footer_copy strong {
    color: #FFFFFF;
}

.footer_text {
    color: #5C5C5C;
    font-size: 12px;
    list-style: square;
}

.footer_text li p {
    color: #FFFFFF;
}

.footer_text_3 {
    color: #5C5C5C;
    font-size: 12px;
    list-style: square;
}

.footer_text_3 strong {
    color: #FFFFFF;
}

.age {
    color: #39aae1;
    font-size: 12px;
}

.footer_lists {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer_lists ul:nth-child(2) li:nth-child(3){
    color: #FFFFFF;
}

.footer_lists ul{
    list-style: none;
    color:#5C5C5C;
    font-size: 12px;
    padding-left: 0px;
}

.midias ul {
    margin-top: 40px;
    display: flex;
    padding-left: 0px;
}

.midias ul li{
    width: 30px;
    height: 30px;
    background-color: #5C5C5C;
    list-style: none;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuMobile {
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line {
    height: 3px;
    background-color: #39aee1;
}

@media (max-width: 600px) {
    .banner_headline {
        padding: 20px;
    }
    
    .banner_headline h1 {
        font-size: 55px;
    }

    .banner_headline h2 {
        font-size: 17px;
    }

    .banner_options {
        margin-top: 100px;
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    #geral {
        margin-top:  200px;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    .footer_lists {
        justify-content: space-around;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}